@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bp: 1px solid black;
    --bf: 1px solid black;
    --c0: #715E5E;
    --c1: #1b004b;
    --c2: #4c007d;
    --c3: #7f00b2;
    --c4: #bc4ed8;
    --c5: #f988ff;
    --c6: #FF90AA;
    --c7: #9b9696;
    --c8: #df1d1d;

}

.bg-prin {
    background-color: var(--c6);
}

.border-prin {
    border: 2px solid var(--c6);
}

.bg-sec {
    background-color: var(--c7);
}

.bg-oscurito{
    background-color: var(--c8);
}